<form action='comment/new'>
    <input type="submit" class="btn-default btn addCommentButton"value="Add a new Comment!">
</form>

<div class="post-title">
<div><strong>Title:</strong></div>
<div><p><%= @post.title %></p></div>
</div>
<div class="post-content">
<div><strong>Content:</strong></div>
<div><p><%= @post.content %></p></div>
</div>


<% @post.comments.each do |comments| %>
<div class="post-comments">
<div><p><%= comments.comment %></p></div>
<div class="comments-posted-by">Posted by: <%= @post.posted_by %></div>

</div>

<% end %>
