<h1>Your Posts</h1>
<% @posts = @posts.sort_by { |post| [post.get_downvotes.size, post.created_at] } %>
<% @posts.each do |post| %><br>
<%= render partial: "/shared/posts_vote", locals: { post: post } %>
<% end %>
