<div id="vote-section">
  <button class="downvote" id="downvote">down</button>

  <button class="upvote" id="upvote">up</button>
    <div class="total-votes">
      <p></p>
    </div>
    <div class="reset" id="reset">
      <button>
        reset
      </button>
      <p>
      </p>
    </div>
    <div class="clear">
      <button>Clear</button>

    </div>

</div>
