/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require rails_bootstrap_forms
 *= require_self
 */


body {

  background-color: #ffffe6;
}

h1 {
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

.well.sidebar-nav {
  font-family: 'Oswald', sans-serif;
  background-color: #e6e6ff;
}
.post-title p {
  font-family: 'Roboto Condensed', sans-serif;
}

.post-content p {
  font-family: 'Roboto Condensed', sans-serif;
}

.post-comments {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #f5f2fe;
  margin-bottom: 5px;
  border-radius: 1em;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;}


.navbar {
  font-family: 'Oswald', sans-serif;
  background-color: #e6e6ff;
}

.post-title {
  font-family: 'Oswald', sans-serif;
  background-color: #e6e6ff;
  margin-bottom: 5px;
  border-radius: 1em;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.post-content {
  font-family: 'Oswald', sans-serif;
  background-color: #e6e6ff;
  margin-bottom: 5px;
  border-radius: 1em;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  }

.post-data {
  font-family: 'Oswald', sans-serif;
  background-color: #e6e6ff;
  margin-bottom: 4em;
  border-radius: 1em;
}

.edit {
  font-family: 'Oswald', sans-serif;
  float: right;
  margin-right: 1em;
}

.destroy {
  font-family: 'Oswald', sans-serif;
  float: right;
  margin-right: 1em;
}

.comments {
  font-family: 'Oswald', sans-serif;
  float: left;
  margin-left: 1em;
}

.votes {
  font-family: 'Oswald', sans-serif;
  margin-left: -65em;
  margin-top: -2.5em;
}

.comments-posted-by {
  float: left;
  margin-left: 1em;
  margin-top: -2em;
}

.saiddit-board {
  font-family: 'Roboto Condensed', sans-serif;
  float:left;
  margin-top: -10em;
  margin-left: -40px;
}

.top-margin {
  margin-top: 6em;
}

.over {
  background-color: red;
}
