/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require rails_bootstrap_forms
 *= require_self
 */

.replytext {
   font-family: 'Roboto Condensed', sans-serif;
   background-color: #8FC0A9;
   margin-bottom: 5px;
   border-radius: 1em;
   text-align: center;
   padding-top: 10px;
   padding-bottom: 10px;
   margin-left: 4em;
 }


.replydata {
  float:left;
  margin-left: 2px;
  margin-top: -4px;
}

body {

  background-color: #696D7D;
}

h1 {
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

.well.sidebar-nav {
  font-family: 'Oswald', sans-serif;
  background-color: #68B0AB;
  border: none;
  color: #FAF3DD;
}
.post-title p {
  font-family: 'Roboto Condensed', sans-serif;
}

.post-content p {
  font-family: 'Roboto Condensed', sans-serif;
}

.post-comments {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #C8D5B9;
  margin-bottom: 5px;
  border-radius: 1em;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 2em;
}

.navbar-default .navbar-nav>li>a {
  color: #FAF3DD;
}

.navbar {
  font-family: 'Oswald', sans-serif;
  background-color: #68B0AB;
  border: none;
}

.addCommentButton {
  margin-bottom: 5px;
}

a {
  color: #FAF3DD;
}

.destroy a:hover {
  color: #ff8080;
  text-decoration: none;
}

.edit a:hover {
  color: #80dfff;
  text-decoration: none;
}

.col-lg-9 h1 {
  color: #C8D5B9;

}

.navbar-default .navbar-brand {
  color: #FAF3DD;
}


.post-title {
  font-family: 'Oswald', sans-serif;
  background-color: #FAF3DD;
  margin-bottom: 5px;
  border-radius: 1em;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}


.btn-default {
  background-color: #68B0AB;
  border: none;
}

.saiddit-board {
  color: #C8D5B9
}

.btn-default:hover {
  background-color: #FAF3DD;
}

.form-group label {
  color: #FAF3DD;
}

.form-control {
  background-color: #C8D5B9;

}

.post-content {
  font-family: 'Oswald', sans-serif;
  background-color: #FAF3DD;
  margin-bottom: 5px;
  border-radius: 1em;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  }

.post-data {
  font-family: 'Oswald', sans-serif;
  background-color: #e6e6ff;
  margin-bottom: 4em;
  border-radius: 1em;
}

.edit {
  font-family: 'Oswald', sans-serif;
  float: right;
  margin-right: 1em;
}

.destroy {
  font-family: 'Oswald', sans-serif;
  float: right;
  margin-right: 1em;
}

.comments {
  font-family: 'Oswald', sans-serif;
  float: left;
  margin-left: 1em;
  color: #C8D5B9;
}

.comments a {
  color: #8FC0A9;
}

.comments a:hover {
  color: #68B0AB;
  text-decoration: none;
}

.votes {
  font-family: 'Oswald', sans-serif;
  margin-left: -65em;
  margin-top: -2.5em;
}

.reply {
  float:right;
  margin-top: -2.5em;
  margin-right: 0.5em;
}
.comments-posted-by {
  float: left;
  margin-left: 1em;
  margin-top: -2em;
}

.saiddit-board {
  font-family: 'Roboto Condensed', sans-serif;
  float:left;
  margin-top: -10em;
  margin-left: -40px;
}

.top-margin {
  margin-top: 6em;
}

.over {
  background-color: red;
}

.orange {
  color: orange;
}

.voteButtons {
  float:left;
  margin-left: -3.5em;
  margin-top: 1.5em;
}
